@tailwind base;
@tailwind components;
@tailwind utilities;

.menu ul {
	@apply flex justify-between;
}

.menu ul li:not(:first-child) {
	@apply ml-4;
}

.menu ul li a {
	@apply text-gray-700 hover:opacity-70;
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
}

.itemBlog figure img {
	border-radius: 12px;
	object-fit: cover;
	height: 300px;
	width: 100%;
}

.itemBlog .title {
	font-size: 24px;
	font-weight: 600;
	margin-top: 10px;
	text-transform: capitalize;
}

.itemBlog a {
	@apply bg-red-400 text-gray-100 py-2 px-8 inline-flex mt-4 hover:bg-slate-600;
	border-radius: 20px;
}
